/deep/.el-form-item__label{
  font-size: 14px;
  font-family: PingFangSC, PingFang SC;
  font-weight: 400;
  color: #34354B;
}
//查询
.search-btn{
  width: 108px;
  height: 36px;
  background: #4380F3;
  color: #ffffff;
  border-radius: 8px;
  box-shadow: 0px 4px 14px 0px rgba(113,156,238,0.5);
  &:hover{
    background: #6999f5 !important;
    border-color: #6999f5 !important;
    color: #FFFFFF;
  }
}
//重置
.refresh-btn{
  width: 108px;
  height: 36px;
  background: #FFFFFF;
  border-radius: 8px;
  border: 1px solid #D4D8E7;
}

//新增
.add-btn{
  width: 108px;
  height: 36px;
  background: #FFFFFF;
  border-radius: 8px;
  border: 1px solid #D4D8E7;
  &:hover{
    width: 108px;
    height: 36px;
    color: #FFFFFF;
    background: #4380F3;
    box-shadow: 0px 4px 14px 0px rgba(113,156,238,0.5);
    border-radius: 8px;
  }
}
//保存
.submit-btn{
  width: 96px;
  height: 36px;
  background: #4380F3;
  box-shadow: 0px 4px 14px 0px rgba(113,156,238,0.5);
  border-radius: 8px;
  &:hover{
    background: #6999f5 !important;
    border-color: #6999f5 !important;
    color: #FFFFFF;
  }
}
//取消
.cancel-btn{
  width: 96px;
  height: 36px;
  background: #FFFFFF;
  border-radius: 8px;
  border: 1px solid #D4D8E7;
}
//编辑
.edit-btn{
  width: 96px;
  height: 36px;
  background: #FFFFFF;
  border-radius: 8px;
  border: 1px solid #D4D8E7;
  &:hover{
    width: 96px;
    height: 36px;
    color: #FFFFFF;
    background: #4380F3;
    box-shadow: 0px 4px 14px 0px rgba(113,156,238,0.5);
    border-radius: 8px;
  }
}
//删除
.del-btn{
  width: 96px;
  height: 36px;
  background: #FFFFFF;
  border-radius: 8px;
  border: 1px solid #D4D8E7;
  &:hover{
    width: 96px;
    height: 36px;
    color: #FFFFFF;
    background: #4380F3;
    box-shadow: 0px 4px 14px 0px rgba(113,156,238,0.5);
    border-radius: 8px;
  }
}
//表单无数据样式
.no-data{
  height: 245px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  vertical-align: center;
  .no-text{
    // width: 56px;
    height: 20px;
    font-size: 14px;
    font-family: PingFangSC, PingFang SC;
    font-weight: 400;
    color: #8693AA;
    line-height: 20px;
  }
}
/deep/.el-table__empty-block{
  width: 100%;
  min-width: 100%;
  max-width: 100%;
}
/deep/ .ivu-table-fixed-header thead tr th {
  padding: 16px 0;
}
